apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: twitter-handler-pvc
  namespace: comp90024
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "ccc-hostpath"
  resources:
    requests:
      storage: {{ PV_SIZE }}

---
apiVersion: batch/v1
kind: Job
metadata:
  name: twitter-handler-job
  namespace: comp90024
spec:
  template:
    spec:
      containers:
      - name: twitter-handler
        image: comp90024team65/tweet-handler:latest
        resources:
          limits:
            cpu: "1"
            memory: "1.5Gi"
        env:
        - name: COUCHDB_USERNAME
          valueFrom:
            secretKeyRef:
              key: adminUsername
              name: ccc-db-couchdb
        - name: COUCHDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: adminPassword
              name: ccc-db-couchdb
        - name: COUCHDB_HOST
          value: "{{ COUCHDB_HOST }}"
        - name: COUCHDB_PORT
          value: "{{ COUCHDB_PORT }}"
        - name: COUCHDB_DATABASE
          value: "{{ COUCHDB_DATABASE }}"
        - name: TWITTER_FILE_LINK
          value: "{{ twitter_download_link }}"
        volumeMounts:
        - name: twitter-handler-download-path
          mountPath: /mnt/data
      restartPolicy: Never
      nodeSelector:
        ccc.nodes: twitter
      volumes:
      - name: twitter-handler-download-path
        persistentVolumeClaim:
          claimName: twitter-handler-pvc
  ttlSecondsAfterFinished: 43200
