[master_nodes]
{% for item in master_node.results %}
{% if item.server is defined %}
{{ item.server.access_ipv4 }}
{% endif %}
{% endfor %}

[worker_nodes]
{% for item in worker_node.results %}
{% if item.server is defined %}
{{ item.server.access_ipv4 }}
{% endif %}
{% endfor %}

[auxiliary_nodes]
{% for item in auxiliary_node.results %}
{% if item.server is defined %}
{{ item.server.access_ipv4 }}
{% endif %}
{% endfor %}

#Kubespray groups:
[kube_node:children]
master_nodes
worker_nodes
auxiliary_nodes

[k8s_cluster:children]
master_nodes
worker_nodes
auxiliary_nodes

[etcd:children]
master_nodes
auxiliary_nodes

[kube_control_plane:children]
master_nodes
auxiliary_nodes

[all:children]
master_nodes
worker_nodes
auxiliary_nodes