[master_nodes]
{% for item in master_node.results %}
{% if item.server is defined %}
{{ item.server.addresses['qh2-uom-internal'][0].addr }}
{% endif %}
{% endfor %}

[worker_nodes]
{% for item in worker_node.results %}
{% if item.server is defined %}
{{ item.server.addresses['qh2-uom-internal'][0].addr }}
{% endif %}
{% endfor %}

[auxiliary_nodes]
{% for item in auxiliary_node.results %}
{% if item.server is defined %}
{{ item.server.addresses['qh2-uom-internal'][0].addr }}
{% endif %}
{% endfor %}

#Kubespray groups:
[kube_node:children]
master_nodes
worker_nodes
auxiliary_nodes

[k8s_cluster:children]
master_nodes
worker_nodes
auxiliary_nodes

[etcd:children]
master_nodes
auxiliary_nodes

[kube_control_plane:children]
master_nodes
auxiliary_nodes

[all]
{% for item in master_node.results %}
{% if item.server is defined %}
{{ item.server.addresses['qh2-uom-internal'][0].addr }} host_name=master{{ loop.index0 }}
{% endif %}
{% endfor %}
{% for item in worker_node.results %}
{% if item.server is defined %}
{{ item.server.addresses['qh2-uom-internal'][0].addr }} host_name=worker{{ loop.index0 }}
{% endif %}
{% endfor %}
{% for item in auxiliary_node.results %}
{% if item.server is defined %}
{{ item.server.addresses['qh2-uom-internal'][0].addr }} host_name=auxiliary{{ loop.index0 }}
{% endif %}
{% endfor %}