[master-nodes]
{% for item in master_node.results %}
{% if item.server is defined %}
{{ item.server.addresses['qh2-uom-internal'][0].addr }}
{% endif %}
{% endfor %}

[worker-nodes]
{% for item in worker_node.results %}
{% if item.server is defined %}
{{ item.server.addresses['qh2-uom-internal'][0].addr }}
{% endif %}
{% endfor %}

#Kubespray groups:
[kube_node:children]
master-nodes
worker-nodes

[k8s_cluster:children]
master-nodes
worker-nodes

[etcd:children]
master-nodes

[kube_control_plane:children]
master-nodes

[all:children]
master-nodes
worker-nodes