apiVersion: v1
kind: Service
metadata:
  name: comp90024-backend-dashboard-service
  namespace: comp90024
spec:
  type: NodePort
  selector:
    app: backend-dashboard
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: {{ DASHBOARD_PORT }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: comp90024-backend-dashboard
  namespace: comp90024
spec:
  replicas: {{ minReplicas }}
  selector:
    matchLabels:
      app: backend-dashboard
  template:
    metadata:
      labels:
        app: backend-dashboard
    spec:
      containers:
      - name: backend-dashboard
        image: comp90024team65/backend-dashboard:latest
        resources:
          requests:
            cpu: "0.5"
            memory: "1.5Gi"
          limits:
            cpu: "1"
            memory: "2Gi"
        ports:
        - containerPort: 8080
        env:
        - name: MASTODON_COUCHDB_HOST
          value: "{{ MASTODON_COUCHDB_HOST }}"
        - name: TWEET_COUCHDB_HOST
          value: "{{ TWEET_COUCHDB_HOST }}"
        - name: MASTODON_COUCHDB_PORT
          value: "{{ MASTODON_COUCHDB_PORT }}"
        - name: TWEET_COUCHDB_PORT
          value: "{{ TWEET_COUCHDB_PORT }}"
        - name: MASTODON_COUCHDB_DATABASE
          value: "{{ MASTODON_COUCHDB_DATABASE }}"
        - name: TWEET_COUCHDB_DATABASE
          value: "{{ TWEET_COUCHDB_DATABASE }}"
        - name: SUDO_COUCHDB_DATABASE
          value: "{{ SUDO_COUCHDB_DATABASE }}"
        - name: MASTODON_COUCHDB_USERNAME
          valueFrom:
            secretKeyRef:
              key: adminUsername
              name: ccc-db-couchdb
        - name: MASTODON_COUCHDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: adminPassword
              name: ccc-db-couchdb
        - name: TWEET_COUCHDB_USERNAME
          valueFrom:
            secretKeyRef:
              key: adminUsername
              name: ccc-db-couchdb
        - name: TWEET_COUCHDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: adminPassword
              name: ccc-db-couchdb

---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: comp90024-backend-dashboard-hpa
  namespace: comp90024
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: comp90024-backend-dashboard
  minReplicas: {{ minReplicas }}
  maxReplicas: {{ maxReplicas }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80