apiVersion: apps/v1
kind: Deployment
metadata:
  name: mastodon-harvester-{{ item.name }}
  namespace: comp90024
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mastodon-harvester-{{ item.name }}
  template:
    metadata:
      labels:
        app: mastodon-harvester-{{ item.name }}
    spec:
      containers:
      - name: mastodon-harvester
        image: comp90024team65/mastodon-harvester:latest
        resources:
          limits:
            cpu: "0.5"
            memory: "1Gi"
        env:
        - name: COUCHDB_HOST
          value: "{{ COUCHDB_HOST }}"
        - name: COUCHDB_PORT
          value: "{{ COUCHDB_PORT }}"
        - name: COUCHDB_DATABASE
          value: "{{ COUCHDB_DATABASE }}"
        - name: COUCHDB_USERNAME
          valueFrom:
            secretKeyRef:
              key: adminUsername
              name: ccc-db-couchdb
        - name: COUCHDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: adminPassword
              name: ccc-db-couchdb
        - name: ACCOUNT_MAIL
          value: "{{ ACCOUNT_MAIL }}"
        - name: ACCOUNT_PASSWORD
          value: "{{ ACCOUNT_PASSWORD }}"
        - name: ACCOUNT_FILE
          value: "{{ ACCOUNT_FILE }}"
        - name: SERVER_URL
          value: "{{ item.url }}"